
<br>
<br>
<h1>Ear Training Quiz For: <%= @lesson.title %></h1>

<br>
<h3>Select Answers and Submit Quiz</h3>

<div class="row">
<div class="quiz_box span9 offset1">
<%= form_tag(lesson_quizzes_path, :method => "post") do %>

  <div class="question">
    <p>Question 1</p>
    <audio controls>
      <source src="<%= @question1.audioclip_mp3.url %>" preload="auto">
      <source src="<%= @question1.audioclip_wav.url %>" preload="auto">
      Your browser does not support MP3 or WAV files. 
    </audio>
    <%= hidden_field_tag(:correct_answer1, @question1.answer) %>
    <%= hidden_field_tag(:octave1, @question1.octave) %>
    <%= hidden_field_tag(:lesson_id, @user_id) %>
    <%= hidden_field_tag(:user_id, @lesson.id) %>
   <span>Answer 1:  <%= select_tag(:user_answer1, options_for_select(@question_answers)) %></span>
  </div>
  <hr>

  <div class="question">
    <p>Question 2</p>
    <audio controls>
      <source src="<%= @question2.audioclip_mp3.url %>" preload="auto">
      <source src="<%= @question2.audioclip_wav.url %>" preload="auto">
      Your browser does not support MP3 or WAV files. 
    </audio>
    <%= hidden_field_tag :correct_answer2, @question2.answer %>
    <%= hidden_field_tag(:octave2, @question2.octave) %>
    <%= hidden_field_tag(:lesson_id, @lesson.id) %>
    <%= hidden_field_tag(:user_id, @user_id) %>
    <span>Answer 2: <%= select_tag(:user_answer1, options_for_select(@question_answers)) %></span>
  </div>
  <hr>
  

  <div class="question question_last">
    <p>Question 3</p>
    <audio controls>
      <source src="<%= @question3.audioclip_mp3.url %>" preload="auto">
      <source src="<%= @question3.audioclip_wav.url %>" preload="auto">
      Your browser does not support MP3 or WAV files. 
    </audio>
    <%= hidden_field_tag :correct_answer3, @question3.answer %>
    <%= hidden_field_tag(:octave3, @question3.octave) %>
    <%= hidden_field_tag(:lesson_id, @lesson.id) %>
    <%= hidden_field_tag(:user_id, @user_id) %>
    <span>Answer 3: <%= select_tag(:user_answer1, options_for_select(@question_answers)) %></span>
  </div>
  
  <br>
  <%= submit_tag("Submit Answers", {:class => "btn btn-primary"}) %>
<% end %>
</div>
</div>


<hr>

<p>Congrats in advance! You're on your way to being a better musician.</p>