
<br>
<br>
<div class="quiz_page_title">
  <h1>Quiz for <%= @lesson.title %></h1>
  <p style="color: #e56b00;">Select Answers and Submit Quiz</p>
</div>
<br>


<div class="row">
<div class="quiz_box span9 offset1">
<%= form_tag(lesson_quizzes_path, :method => "post") do %>

  <div style="height:30px;"></div>

  <div class="question">
    <p>Question 1</p>
    <audio controls>
      <source src="<%= @question1.audioclip_mp3.url %>" preload="auto">
      <source src="<%= @question1.audioclip_wav.url %>" preload="auto">
      Your browser does not support MP3 or WAV files. 
    </audio>
    <%= hidden_field_tag(:correct_answer1, @question1.answer) %>
    <%= hidden_field_tag :question_id_1, @question1.id %>
    <%= hidden_field_tag(:octave1, @question1.octave) %>
    <%= hidden_field_tag(:lesson_id, @lesson.id) %>
    <%= hidden_field_tag(:user_id, @lesson.id) %>
   <span class="answer_text">Answer: <%= select_tag(:user_answer1, options_for_select(@question_answers)) %></span>
  </div>
  <hr>

  <div class="question">
    <p>Question 2</p>
    <audio controls>
      <source src="<%= @question2.audioclip_mp3.url %>" preload="auto">
      <source src="<%= @question2.audioclip_wav.url %>" preload="auto">
      Your browser does not support MP3 or WAV files. 
    </audio>
    <%= hidden_field_tag :correct_answer2, @question2.answer %>
    <%= hidden_field_tag :question_id_2, @question2.id %>
    <%= hidden_field_tag(:octave2, @question2.octave) %>
    <%= hidden_field_tag(:lesson_id, @lesson.id) %>
    <%= hidden_field_tag(:user_id, @user_id) %>
    <span class="answer_text">Answer: <%= select_tag(:user_answer2, options_for_select(@question_answers)) %></span>
  </div>
  <hr>
  
   <div class="question">
    <p>Question 3</p>
    <audio controls>
      <source src="<%= @question3.audioclip_mp3.url %>" preload="auto">
      <source src="<%= @question3.audioclip_wav.url %>" preload="auto">
      Your browser does not support MP3 or WAV files. 
    </audio>
    <%= hidden_field_tag :correct_answer3, @question3.answer %>
    <%= hidden_field_tag :question_id_3, @question3.id %>
    <%= hidden_field_tag(:octave3, @question3.octave) %>
    <%= hidden_field_tag(:lesson_id, @lesson.id) %>
    <%= hidden_field_tag(:user_id, @user_id) %>
    <span class="answer_text">Answer: <%= select_tag(:user_answer3, options_for_select(@question_answers)) %></span>
  </div>
  <hr>

   <div class="question">
    <p>Question 4</p>
    <audio controls>
      <source src="<%= @question4.audioclip_mp3.url %>" preload="auto">
      <source src="<%= @question4.audioclip_wav.url %>" preload="auto">
      Your browser does not support MP3 or WAV files. 
    </audio>
    <%= hidden_field_tag :correct_answer4, @question4.answer %>
    <%= hidden_field_tag :question_id_4, @question4.id %>
    <%= hidden_field_tag(:octave4, @question4.octave) %>
    <%= hidden_field_tag(:lesson_id, @lesson.id) %>
    <%= hidden_field_tag(:user_id, @user_id) %>
    <span class="answer_text">Answer: <%= select_tag(:user_answer4, options_for_select(@question_answers)) %></span>
  </div>
  <hr>

  <div class="question question_last">
    <p>Question 5</p>
    <audio controls>
      <source src="<%= @question5.audioclip_mp3.url %>" preload="auto">
      <source src="<%= @question5.audioclip_wav.url %>" preload="auto">
      Your browser does not support MP3 or WAV files. 
    </audio>
    <%= hidden_field_tag :correct_answer5, @question5.answer %>
    <%= hidden_field_tag :question_id_5, @question5.id %>
    <%= hidden_field_tag(:octave5, @question5.octave) %>
    <%= hidden_field_tag(:lesson_id, @lesson.id) %>
    <%= hidden_field_tag(:user_id, @user_id) %>
    <span class="answer_text">Answer: <%= select_tag(:user_answer5, options_for_select(@question_answers)) %></span>
  </div>
  
  <br>
  <div width="span3" style="text-align: center;">
    <%= submit_tag("Submit Answers", {:class => "btn btn-primary"}) %>
  </div>
<% end %>
</div>
</div>


<hr>

<p>Congrats in advance! You're on your way to being a better musician.</p>