 <!--! close open divs sliders can be used -->
</div>
</div>

</div>
</div>
 <!--! end of .container -->

<section class="" style="text-align: center; margin-top: 20px !important; background: #fff;">


	<div>
    <!-- <h6 style="font-family: Merriweather; text-align: center; color: #b3b3b3">Tired of Ear Training Software That Doesn't Produce Results?</h6> -->
		<h1 style="font-family: 'Merriweather', serif; font-size: 40px; line-height: 1.5; color: #1a344d;"> 
     Ear Training for Musicians<br> Who Hate Wasting Practice Time</h1>
      <h3 style="font-family: 'Merriweather', serif; font-size: 18px; line-height: 1.5; color: #e56b00; text-align:center; padding-top:0px; padding-bottom: 30px; ">"With this I know exactly what I need to work on every time I practice."</h3>
    
	</div>
</section>

<div class="container" style="padding-bottom: 0px;">
  <div class="row">
    <div class="span6">
      <img style="float:left" src="assets/mac2.png" />
    </div>

    <div class="span6">
      <h5 style="font-family: Merriweather;">
      <ul style="margin-top: -10px; padding-left: 0px; margin-bottom: -20px;">
        <li style="list-style: none"><img src="/assets/green_checkmark.png" />Detailed Performance Analytics</li><br>
        <li style="list-style: none"><img src="/assets/green_checkmark.png" />100+ Ear Training Files In All Octaves</li><br>
        <li style="list-style: none"><img src="/assets/green_checkmark.png" />35+ Chord Progressions That You Need To Know</li><br>
        <li style="list-style: none"><img src="/assets/green_checkmark.png" />Fully Mobile Responsive Site</li><br>
        <li style="list-style: none"><img src="/assets/green_checkmark.png" />Downloadable Music Files To Study On the Go</li><br>
        <li style="list-style: none"><img src="/assets/green_checkmark.png" />100% Money Back Guarantee</li><br>
      </ul>
      <%= link_to image_tag('start_free_trial_02.jpg'), pricing_path %>
    </div>
  </div>
</div>

<!-- Testimonial From The Founder-->
<div style="background: #fafafa; min-height: 40px; padding-top: 20px; padding-bottom: 30px; text-align: center; border-top: 1px solid #c2c4c4; border-bottom: 1px solid #c2c4c4;">
  <div class="container">
    <h2 style="text-align:center; font-weight: bold; font-family: Helvetica Neue; font-size: 32px;">Reach Your Musical Potential by Developing Your Ear</h2>
    <div class="span8 offset2">
    <p style="font-size: 16px;"> I studied music theory for years and played multiple instruments. But I knew that to reach the next level I had properly develop my ear. I haven't looked back since and my music abilities have increased 1000x.</p>
  </div>
  </div>
</div>


<!-- Testimonials From Users -->
<div class="container" style="padding-top: 40px; padding-bottom: 20px; text-align: center; font-family: Merriweather;">
<h2>Testimonials From Our Users</h2>
  <div class="row">
    <div class="span8 offset2" style="vertical-align: middle;">
      <hr>
      <p style="font-size:24px; line-height: 1.4;">"Ear training has completely <strong>taken my skills to the next level.</strong> I can quickly recognize intervals and immediately play it back on my guitar. Incredible!"</p><br><p style="font-size: 15px; color: #bababa;">Steve H., Guitarist</p>
      <hr>
      <p style="font-size:24px; line-height: 1.4;">"I've tried at least a dozen times to start working on my ears but this is <strong>the only program that's showed me exactly what to do and how I'm improving</strong>"</p><br><p style="font-size: 15px; color: #bababa;">Alan D., Pianist</p>
      <hr>
      <p style="font-size:24px; line-height: 1.4;">"My jam buddies noticed a huge different within weeks. My phrasing and <strong>ability to improvise has gotten SO MUCH BETTER</strong>"</p><br><p style="font-size: 15px; color: #bababa;">Rob L.</p>
      <hr>
      <p style="font-size:24px; line-height: 1.4;">"What surprised me is that I am <strong>now able to 'hear' all the theory</strong> that I've studied for so many years. I wish I had started a long time ago..."</p><br><p style="font-size: 15px; color: #bababa;">Janet A.</p>
      <hr>
      <p style="font-size:24px; line-height: 1.4;">"What matters to me is <strong>how much time and frustration I've saved</strong> knowing that I'm doing ear training the right way and measuring my improvement every time I practice."</p><br><p style="font-size: 15px; color: #bababa;">Lois K., Pianist</p>
      <hr>
      <p style="font-size:24px; line-height: 1.4;">"I've been a pro musician for 25 years and <strong>literally NOTHING has made a bigger difference in my performance abilities.</strong> I've already started my kids on this..."</p><br><p style="font-size: 15px; color: #bababa;">Mohit S.</p>
    </div>
  </div>
</div>
<div class="container" style="text-align: center;">
    <%= link_to image_tag('start_free_trial_02.jpg'), pricing_path %>
</div>


<!-- Features section -->

<div id="features" style="background: #fafafa; padding-top: 25px; font-family: Merriweather; border-top: 1px solid #bababa; border-bottom: 1px solid #bababa;">
       <div class="container">
           <div class="section_header">
               <h3>Features</h3>
           </div> 
           <div class="row feature">
               <div class="span6">
                   <img src="/assets/showcase1_v2.png" />
               </div>
               <div class="span6 info">
                   <h3>
                       <img src="/assets/features-ico1.png" />
                       Ear Training The Right Way
                   </h3>
                   <p>
                       Learn how to hear notes as they relate to chord progressions. We believe in contextual ear training and learning to hear notes as they sound when played against chords. We make sure you can immediately use what you learn.
                   </p>
               </div>
           </div>
           <div class="row feature ss">
               <div class="span6 info">
                   <h3>
                       <img src="/assets/features-ico2.png" />
                       Learn to Recognize Any Chord Progression
                   </h3>
                   <p>
                       When you're on stage there's no time to think about what a 1 6 2 5 sounds like. You need to know what's being played so you can play along. You'll be amazed at how you start recognizing chord progressions in any piece of music you listen to.
                   </p>
               </div>
               <div class="span6">
                   <img src="/assets/showcase2.jpg" class="pull-right" />
               </div>
           </div>
           <div class="row feature ss">
               <div class="span6">
                   <img src="/assets/showcase3.jpg" />
               </div>
               <div class="span6 info">
                   <h3>
                       <img src="/assets/features-ico3.png" />
                       Know Exactly What You Need to Work On
                   </h3>
                   <p>
                       What matters is that you get better. Track all of your responses as soon as you sign up so you can understand how you're improving and where you have difficulty. The only way to get better is to measure.
                   </p>
               </div>
           </div>
       </div>
   </div>

   <div class="container" style="text-align: center; margin-top: 30px;">
     <%= link_to image_tag('start_free_trial_02.jpg'), pricing_path %>
</div>

<!-- FAQ Section-->
<div class="container" style="border-top: 1px solid #bababa;">
  <div class="row">
    <div class="span8 offset2" style="font-family: Merriweather; text-align: center; padding-top: 20px;">
      <h3>Some Frequently Asked Questions</h3><br>
      
      <p><strong>Why is this better than other ear training programs?</strong><p>
      <p>It makes ear training simple and trackable. When I did ear training prior to developing this course, I was always frustrated with not knowing the amount of work I needed to put in to improve. Consequently I quickly became discouraged everytime. With this course, you know exactly the intervals and chord progressions you need to work on, and what level you're at with each. No more guessing.</p>
      <hr>

      <p><strong>Why does ear training help so much? </strong><p>
      <p>You can learn all the theory in the world, but if you can't hear what's going on, then you're at a serious disadvantage as a musician. For example, think how easy it would be to learn a new scale if you can immediately recognize all the intervals in it. (Let me tell you - it's so much easier.) By being able to recognize musical patterns you will advance incredibly quickly as a musician.</p>
      <hr>

      <p><strong>I'm a beginner - is this course right for me?</strong><p>
      <p>This course is designed to be useful for beginners, intermediate and advanced musicians. Simply put, no matter what level of musician you are, the biggest favor you can do for yourself is to develop your ears. Ear training will help beginners in all areas, from understanding theory to being able to start to improvise. For advanced musicians, this program will make sure you're not wasting practice time by letting you know exactly where you strong and weak spots are.</p>
      <hr>

      <p><strong>What if I don't have time to keep up?</strong><p>
      <p>First, this course is designed with maximizing the efficiency of your practice time. This way you'll spend only the time that's necessary on ear training so you can do what we all want to do most - play music! However if you don't have time or if it's not for you, then simply quit at any time and you won't pay a cent more.</p>
      <hr>

      <p><strong>What's the end result of this course?</strong><p>
      <p>You'll be a better musician period. You'll instantly recognize chord progressions in every song you listen to and you'll be able to play any melody you hear because you'll know exactly what intervals you're hearing. In addition to understanding what you're hearing, you're improvisation skills will improve significantly as you start to being able to play what you hear in your head. Jam sessions become much more fun.</p>
      <hr>

      <p><strong>How long does it take to have a good ear?</strong><p>
      <p>Like all aspects of music, you need to keep practicing to stay at your level. If you're just getting started with ear training or if you're a beginner musician, you'll start to see results immediately. The more you work through the course, the easier it will be to hear and recognize complicated melodies and chord progressions. What matters is that this program makes sure you're keeping track of exactly what you're good at and what your weak spots are so you don't waste any time developing your ear.</p>
      <hr>

      <p><strong>What if I need support?</strong><p>
      <p>If you need help with anything you can email me, the creator of this course, directly. You'll have my personal email address to work through any issues. I designed this course with the intention that all members are successful and I'm offering my guarantee that it will work for you.</p>
      <hr>

      <p><strong>I want to get my kids involved in music - is this course right for them?</strong><p>
      <p>The earlier you can get your kids involved in ear training, the more successful they will be as musicians. By making music more musical and less about theory, they more they will enjoy the process of practicing and picking up new concepts.</p>
      <hr>

    </div>

  </div>
</div>

<!-- Money Back Guarantee -->
<div class="container" style="margin-top: 30px;">
  <div class="row" style="text-align: center; font-family: Merriweather;">
    
    <div class="span8 offset2" style="background:#d4ffbb; border: 1px solid #419a0d; padding: 10px;">
      <h4>100% Money Back Guarantee</h4>
      <p>I want you to succeed. I created this entire course so that other musicians could experience the same kind of breakthrough I experienced when I started taking my ear training seriously and grew as a musician by leaps and bounds. Because of that I want to make sure that this course is working for you and that you're experiencing the growth as a musician that I expect each member to. I guarantee that you'll be able to:</p>

      <ul style="list-style: none;">
        <li>Instantly recognize popular chord progressions</li><br>
        <li>Understand melodies by hearing the individual intervals</li><br>
        <li>Track your progress at all times in this course</li><br>
        <li>Enjoy music more as both a listener and a player</li><br>
      </ul>

      <h6>I encourage you to try this course <strong>RISK FREE</strong> and start reaching your highest potential today.</h6>

    </div>
  </div>
</div>

<div class="container" style="text-align: center; margin-top: 30px;">
  <%= link_to image_tag('start_free_trial_02.jpg'), pricing_path %>
</div>

<hr>

<!-- Personal Letter -->
<div class="container" style="margin-top: 30px;">
  <div class="row" style="text-align: center; font-family: Merriweather;">
    
    <div class="span8 offset2 letter_box">
      <div style="text-align: center;">
        <h4>My Promise to You</h4>
      </div>

      <div>
        <p><strong>Dear fellow musician,</strong></p>
      </div>

      <div>
        <p>I'm a musician just like yourself and I'm always striving to be better. I've gone through literally dozens of books covering the same material and often ended up frustrated because <strong>I couldn't put to use all the theory I learned.</strong></p>
        <br>
        
        <p><strong>Ear training changed everything for me though.</strong> Once I finally put in the work of training my ear to hear intervals, chord progressions and melodies, I found that every single element of my musicianship improved. It's like I had discovered the secret to becoming a better musician</p>
        <br>

        <p>I developed this application because I want to share what I've found to be the <strong>most effective way to improve your ear</strong> and to save yourself all the time and frustration that I had to go through in order to be able to appreciate just how incredible it is when you instinctively understand everything you hear.</p>
        <br>

        <p>The reason why I offer a money back guarantee is that <strong>I stand behind this ear training product 100%.</strong> It's worked for me and hundreds of others and if you give it a shot, I guarantee it will work for you too.</p>
      </div>

      <br>

      <div style="text-align: right; padding-right: 120px;">
        <p><strong>Sincerely,</strong></p> 
      </div>

      <br>
  
      <div style="text-align: right; font-family: Veneto; font-size: 28px;">
        Bradley Milne
      </div>

    </div>
  </div>
</div>

<div class="container" style="text-align: center; margin-top: 30px;">
  <%= link_to image_tag('start_free_trial_02.jpg'), pricing_path %>
</div>



