<div class="row">
  <div class="span8">
    <h1>Ear Training - <%= @lesson.title %> </h1>
    <p><%= @lesson.description %></p>
  </div>
  <div class="span4 top_take_quiz">
  	 <%= link_to "Take Quiz?", new_lesson_quiz_path(@lesson), {:class => "btn btn-primary"} %>
  </div>
</div>



<% @questions.each do |question| %>
  <div class="lesson_box span4 clearfix">
    <div class="lesson_box_top">
  	  <h4><%= question.question %></h4>
    </div>
    <div class="lesson_box_description">
      <p>Add a description to each lesson here? The major scale tones are the most important tones are they combine to form a major chord. They consist of the root, major 3rd and major 5th. You'll find them the easiest so let's start here.</p>
    </div>
    <div class="lesson_stats">
  	  <p>You get this right xx% of the time.</p>
    </div>
    </br>
    <div class="audio_options">
      <audio controls>
        <source src="<%= question.audioclip_mp3.url %>" preload="auto">
        <source src="<%= question.audioclip_wav.url %>" preload="auto">
        Your browser does not support MP3 or WAV files. 
      </audio>
    </div>
</div>	
<% end %>

<br>