<div class="row">
  <div class="span8">
    <h1 style="font-family: 'Merriweather', serif; font-size: 40px; line-height: 1.25; color: #1a344d;"><%= @lesson.title %> </h1>
    <div class="lesson_description">
      <p style="font-family: 'Merriweather', serif; font-size: 15px; line-height: 1.5; color: #e56b00;"><%= @lesson.description %></p>
    </div>
  </div>
  <div class="span4 top_take_quiz">
  	 <%= link_to "Take Quiz?", new_lesson_quiz_path(@lesson), {:class => "btn btn-primary"} %>
  </div>
</div>

<% @questions.each do |question| %>
  <div class="question_box span4 clearfix">
    <div class="lesson_box_top">
  	  <h4 style="font-family: 'Merriweather', serif; font-size: 14px; line-height: 1.25; color: #1a344d;"><%= question.question %></h4>
    </div>
    <div class="lesson_box_description">
      <h6 class="big_question_stats"><%= question.rating %></h6>
    </div>
    <div class="lesson_stats">
  	 
    </div>
    </br>
    <div class="audio_options">
      <audio controls>
        <source src="<%= question.audioclip_mp3.url %>" preload="auto">
        <source src="<%= question.audioclip_wav.url %>" preload="auto">
        Your browser does not support MP3 or WAV files. 
      </audio>
    </div>
</div>	
<% end %>

<br>