



<div class="container" style="font-family: Merriweather; text-align: center;">

    <h2>Welcome Back!</h2>
    <hr>
  <div class="row">

            <div class="span4 offset4 signin_box_design">
               

                        <div class="division">
                            <div class="line l"></div>
                            <span></span>
                            <div class="line r"></div>
                        </div>

                        <div class="form">
                           	<h4>Sign In Below</h4>
							<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
							  <%= f.input :email, :autofocus => true %>
							  <%= f.input :password %>
							  <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
							  <%= f.button :submit, "Sign in", :class => 'btn-primary' %>
							<% end %>
							<%= render "devise/shared/links" %>
						    
                        </div>

                    </div>
             
  </div>
</div>
