<div class="stats_title">
 <h4>Ear Training Stats</h4>
</div>
<br><br>


<table class="table table-striped">
  <thead>
	<tr>
		<th>Interval</th>
		<th>Total Attempts</th>
		<th>Accuracy</th>
		<th>Accuracy Last 30 Days</th>
		<th>Octave 1</th>
		<th>Octave 2</th>
		<th>Octave 3</th>
		<th>Octave 4</th>
		<th>Octave 5</th>
	</tr>
  </thead>

  <tbody>
  	<% @et_stats.each do |stat| %>
	<tr>
		<td><%= stat[0] %></td>
		<td><%= stat[1] %></td>
		<td><%= number_to_percentage(stat[2], :precision => 0) %></td>
		<td><%= number_to_percentage(stat[3], :precision => 0) %></td>
		<td><%= number_to_percentage(stat[4], :precision => 0) %></td>
		<td><%= number_to_percentage(stat[5], :precision => 0) %></td>
		<td><%= number_to_percentage(stat[6], :precision => 0) %></td>
		<td><%= number_to_percentage(stat[7], :precision => 0) %></td>
		<td><%= number_to_percentage(stat[8], :precision => 0) %></td>
	</tr>
	<% end %>

  </tbody>
</table>

<% if current_user.has_role? :gold %>
<br>

<div class="stats_title">
 <h4> Chord Progression Stats </h4>
</div>
<br><br>

<table class="table table-striped">
  <thead>
  	<tr>
  	  <th>Interval</th>
  	  <th>Total Attempts</th>
  	  <th>Total Average</th>
  	  <th>Total Average 30 Days</th>
  	</tr>
  </thead>

  <tbody>
  <% @cp_stats.each do |stat| %>
  <tr>
    <td><%= stat[0] %></td>
    <td><%= stat[3] %></td>
    <td><%= number_to_percentage(stat[1], :precision => 0) %></td>
    <td><%= number_to_percentage(stat[2], :precision => 0) %></td>
  </tr>
 <% end %>
  </tbody>
</table>
<% end %>