


<div class="row">
<div class="page_title">
  <h2>Chord Progressions</h2>
  <p>Click any lesson title below to get started</p>
</div>
</div>
<hr>

<% @lessons_cp.each do |lesson| %>

<div class="lesson_box span4 clearfix">
  <div class="lesson_box_top">
    <h4><%= link_to lesson_path(lesson), :remote => true do %><%= lesson.title %><% end %></h4>
  </div>
  <div class="lesson_box_description">
    <p><%= lesson.description %></p>
  </div>
  <div class="lesson_box_stats">
    <span class="lesson_stats"<p>Average: <%= lesson.avg_score %>%   ---         Best: <%= lesson.max_score %>%</p></span>
   </div
</br>
    <div class="lesson_box_options">
      <%= link_to 'Take Quiz!', new_lesson_quiz_path(lesson), {:class => "btn btn-primary"} %>
    </div>
</div>



 <% end %>