<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ear Training Software | EarTracker" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ear Training Software | EarTracker" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %> pull-top">
    <div class="navbar navbar-inverse navbar-static-top shadow">
      <div class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </div>
    </div>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
         
        </div>
        <%= debug(params) if Rails.env.development? %>
      </div> <!--! end of .container -->
	 <!-- starts footer -->
	    <footer id="footer">
	        <div class="container">
	            <div class="row info">
	                <div class="span6 residence">
	                    <ul>
	                        <li>Toronto, Canada</li>
	                        
	                    </ul>
	                </div>
	                <div class="span5 touch">
	                    <ul>
	                  
	                        <li><strong>E.</strong><a href="#"> info@eartracker.com</a></li>
	                    </ul>
	                </div>
	            </div>
	            <!--<div class="row credits">
	                <div class="span12">
	                    <div class="row social">
	                        <div class="span12">
	                            <a href="#" class="facebook">
	                                <span class="socialicons ico1"></span>
	                                <span class="socialicons_h ico1h"></span>
	                            </a>
	                            <a href="#" class="twitter">
	                                <span class="socialicons ico2"></span>
	                                <span class="socialicons_h ico2h"></span>
	                            </a>
	                            <a href="#" class="gplus">
	                                <span class="socialicons ico3"></span>
	                                <span class="socialicons_h ico3h"></span>
	                            </a>
	                            <a href="#" class="flickr">
	                                <span class="socialicons ico4"></span>
	                                <span class="socialicons_h ico4h"></span>
	                            </a>
	                            <a href="#" class="pinterest">
	                                <span class="socialicons ico5"></span>
	                                <span class="socialicons_h ico5h"></span>
	                            </a>
	                            <a href="#" class="dribble">
	                                <span class="socialicons ico6"></span>
	                                <span class="socialicons_h ico6h"></span>
	                            </a>
	                            <a href="#" class="behance">
	                                <span class="socialicons ico7"></span>
	                                <span class="socialicons_h ico7h"></span>
	                            </a>
	                        </div>
	                    </div> -->
	                    <div class="row copyright">
	                        <div class="span12">
	                            © 2013 EarTracker
	                        </div>
	                    </div>
	                </div>            
	            </div>
	        </div>
	    </footer>
    </div> <!--! end of #main -->
  </body>
</html>
